/* geral da pagina*/
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #222;
}

/* cabeçalho */
header {
  background-color: #b30000;
  color: white;
  text-align: center;
  padding: 20px 0;
}

 h1 {
  margin: 0;
  font-size: 28px;
}
 h2 {
 text-align:center; 
 color:#b30000;
}


/* menu de navegação */
nav {
  margin-top: 10px;
}

nav a {
  color: white;
}

/* curriculo */
section.curriculo {
  text-align: center;
  margin: 20px 0;
}

.button {
  background-color: #b30000;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
}

/* ---------- FORMULÁRIOS ---------- */
form {
  width: 80%;
  margin: 20px auto;
  padding: 15px;
  border: 2px solid #b30000;
}

input, select, textarea {
  width: 100%;
  padding: 8px;
  margin: 5px 0 15px;
  border: 1px solid #b30000;
}

input[type="submit"] {
  background-color: #b30000;
  color: white;
  border: none;
}

/* rodapée */
footer {
  background-color: #b30000;
  color: white;
  text-align: center;
  padding: 1px 0;
  width: 100%;
  position:fixed;
  bottom: 0;
  left: 0;
}

/* ---------- APRESENTAÇÃO (FOTO + TEXTO) ---------- */
.apresentacao {
  width: 80%;
  margin: 30px auto;
  overflow: hidden; /* para o float da imagem não quebrar o layout */
  margin-bottom: 30px;
}

.apresentacao img {
  float: left;
  width: 200px;
  height: auto;
  margin-right: 20px;
  border-radius: 10px;
  border: 2px solid #b30000;
}

.apresentacao .texto {
  text-align: justify;
}

.apresentacao h2 {
  color: #b30000;
  margin-top: 0;
}

/* ---------- TABELAS ---------- */
table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #b30000;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #b30000;
  color: white;
}

